<html>
<head>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="vue-material.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
  <link href="styles.css"  rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="vue-material.js"></script>
  <title> RNR - Calc </title>
</head>


<body>
  <md-dialog-alert :md-content="alert.content" :md-ok-text="alert.ok" @open="onOpen" @close="onClose" ref="dialog3">
  </md-dialog-alert>

  <div id ="global">
  <div id ="bHeader">
  <img src ="images/logo.png">
 </div>
 <div class = "wrapper">
  <div id = "firstTest"  v-md-theme="'default'">
    <md-whiteframe md-elevation="7">
    <md-tabs md-fixed v-on:change="state.firstTestShow=!state.firstTestShow" >
    <md-tab id="first_test" md-label="Основные расходы" md-icon="looks_one">
      <div id ="firstTestContent" v-if="state.firstTestShow" tabindex="0">
      <p><span class="md-title">{{questionNumber}}/{{questionNumbers}}</span>
      <p><span class="md-display-1">{{currentQuestion}}</span>
      <p><span class="md-body-2" v-if="discriptionReady">{{questionDiscription}}</span>
      <p><span class="md-body-1" v-if="exampleReady">{{questionExample}}</span>
        <form novalidate @submit.stop.prevent="submit">
          <md-input-container>
            <label>{{defaultCaption}}</label>
            <md-input v-model=inputValue type="number"></md-input>
            </md-input-container>
            <div class = "errorSpan" v-show="!show"><i class="material-icons">error</i><p><span >Введите числовое значение</span></div>
        </form>



    </div>
    <div id = "firstButtons" v-if="state.firstTestShow">
    <md-button class="md-raised md-accent" v-on:click="getPrevData">Назад</md-button>
    <md-button class="md-raised md-primary" v-on:click="getNextData">Далее</md-button>
    </div>
    </md-tab>

  </md-tabs>
</md-whiteframe>
</div>


<div id = "secondTest"  v-md-theme="'default'" v-if="state.firstTestComplete">
  <md-whiteframe md-elevation="7">
  <md-tabs md-fixed v-on:change="state.secondTestShow=!state.secondTestShow">
  <md-tab id="second_test" md-label="Дополнительные расходы" md-icon="looks_two">
    <div id ="secondTestContent" v-if="state.secondTestShow" tabindex="0">
    <p><span class="md-title">{{questionNumber}}/{{questionNumbers}}</span>
    <p><span class="md-display-1">{{currentQuestion}}</span>
    <p><span class="md-body-2" v-if="discriptionReady">{{questionDiscription}}</span>
    <p><span class="md-body-1" v-if="exampleReady">{{questionExample}}</span>
      <form novalidate @submit.stop.prevent="submit">
        <md-input-container>
          <label>{{defaultCaption}}</label>
          <md-input v-model=inputValue type="number"></md-input>
        </md-input-container>
      </form>

  </div>
  <div id = "secondButtons" v-if="state.secondTestShow">
  <md-button class="md-raised md-accent" v-on:click="getPrevData">Назад</md-button>
  <md-button class="md-raised md-primary" v-on:click="getNextData">Далее</md-button>
  </div>
  </md-tab>

</md-tabs>
</md-whiteframe>
</div>

<div id = "thirdTest"  v-md-theme="'default'" v-if="state.secondTestComplete">
  <md-whiteframe md-elevation="7">
  <md-tabs md-fixed v-on:change="state.thirdTestShow=!state.thirdTestShow">
  <md-tab id="third_test" md-label="Потери" md-icon="looks_3">
    <div id ="thirdTestContent" v-if="state.thirdTestShow" tabindex="0">
    <p><span class="md-title">{{questionNumber}}/{{questionNumbers}}</span>
    <p><span class="md-display-1">{{currentQuestion}}</span>
    <p><span class="md-body-2" v-if="discriptionReady">{{questionDiscription}}</span>
    <p><span class="md-body-1" v-if="exampleReady">{{questionExample}}</span>
      <form novalidate @submit.stop.prevent="submit">
        <md-input-container>
          <label>{{defaultCaption}}</label>
          <md-input v-model=inputValue type="number"></md-input>
        </md-input-container>
      </form>

  </div>
  <div id = "thirdButtons" v-if="state.thirdTestShow">
  <md-button class="md-raised md-accent" v-on:click="getPrevData">Назад</md-button>
  <md-button class="md-raised md-primary" v-on:click="getNextData">Далее</md-button>
  </div>
  </md-tab>

</md-tabs>
</md-whiteframe>
</div>

<div id = "fourthTest"  v-md-theme="'default'" v-if="state.thirdTestComplete">
  <md-whiteframe md-elevation="7">
  <md-tabs md-fixed v-on:change="state.fourthTestShow=!state.fourthTestShow">
  <md-tab id="fourth_test" md-label="Завершающие вопросы" md-icon="looks_4">
    <div id ="fourthTestContent" v-if="state.fourthTestShow" tabindex="0">
    <p><span class="md-title">{{questionNumber}}/{{questionNumbers}}</span>
    <p><span class="md-display-1">{{currentQuestion}}</span>
    <p><span class="md-body-2" v-if="discriptionReady">{{questionDiscription}}</span>
    <p><span class="md-body-1" v-if="exampleReady">{{questionExample}}</span>
      <form novalidate @submit.stop.prevent="submit">
        <md-input-container>
          <label>{{defaultCaption}}</label>
          <md-input v-model=inputValue type="number"></md-input>
        </md-input-container>
      </form>

  </div>
  <div id = "fourthButtons" v-if="state.fourthTestShow">
  <md-button class="md-raised md-accent" v-on:click="getPrevData">Назад</md-button>
  <md-button class="md-raised md-primary" v-on:click="getNextData">Далее</md-button>
  </div>
  </md-tab>

</md-tabs>
</md-whiteframe>
</div>

<div id ="getResults" v-md-theme="'default'" v-if="state.fourthTestComplete">
<md-whiteframe md-elevation="7">
<div id ="ResultButton">
  <md-button class="md-raised md-primary" v-on:click="getResults">{{resultCaption}}</md-button>
  <div id = "resultsView" v-if="show" tabindex="0">

      <div id class = "table">
      <div class = "anwsersBlock">
        <p><span class="md-title">Основные расходы: </span><b>
          <hr>
      <form novalidate @submit.stop.prevent="submit">
        <md-input-container>
          <label>{{firstBlockTittle[0]}}</label>
          <md-input v-model=firstAnwsers[0] type="number"></md-input>
        </md-input-container>
      </form>
      <form novalidate @submit.stop.prevent="submit">
        <md-input-container>
          <label>{{firstBlockTittle[1]}}</label>
          <md-input v-model=firstAnwsers[1] type="number"></md-input>
        </md-input-container>
      </form>
      <form novalidate @submit.stop.prevent="submit">
        <md-input-container>
          <label>{{firstBlockTittle[2]}}</label>
          <md-input v-model=firstAnwsers[2] type="number"></md-input>
        </md-input-container>
      </form>
      <form novalidate @submit.stop.prevent="submit">
        <md-input-container>
          <label>{{firstBlockTittle[3]}}</label>
          <md-input v-model=firstAnwsers[3] type="number"></md-input>
        </md-input-container>
      </form>
      <form novalidate @submit.stop.prevent="submit">
        <md-input-container>
          <label>{{firstBlockTittle[4]}}</label>
          <md-input v-model=firstAnwsers[4] type="number"></md-input>
        </md-input-container>
      </form>
      <p><span class="md-title">{{firstSum}} </span><b>
    </div>

    <div class = "anwsersBlock">
      <p><span class="md-title">Косвенные расходы: </span><b>
        <hr>
    <form novalidate @submit.stop.prevent="submit">
      <md-input-container>
        <label>{{secondBlockTittle[0]}}</label>
        <md-input v-model=secondAnwsers[0] type="number"></md-input>
      </md-input-container>
    </form>
    <form novalidate @submit.stop.prevent="submit">
      <md-input-container>
        <label>{{secondBlockTittle[1]}}</label>
        <md-input v-model=secondAnwsers[1] type="number"></md-input>
      </md-input-container>
    </form>
    <form novalidate @submit.stop.prevent="submit">
      <md-input-container>
        <label>{{secondBlockTittle[2]}}</label>
        <md-input v-model=secondAnwsers[2] type="number"></md-input>
      </md-input-container>
    </form>
    <form novalidate @submit.stop.prevent="submit">
      <md-input-container>
        <label>{{secondBlockTittle[3]}}</label>
        <md-input v-model=secondAnwsers[3] type="number"></md-input>
      </md-input-container>
    </form>
    <form novalidate @submit.stop.prevent="submit">
      <md-input-container>
        <label>{{secondBlockTittle[4]}}</label>
        <md-input v-model=secondAnwsers[4] type="number"></md-input>
      </md-input-container>
    </form>
    <form novalidate @submit.stop.prevent="submit">
      <md-input-container>
        <label>{{secondBlockTittle[5]}}</label>
        <md-input v-model=secondAnwsers[5] type="number"></md-input>
      </md-input-container>
    </form>
    <form novalidate @submit.stop.prevent="submit">
      <md-input-container>
        <label>{{secondBlockTittle[6]}}</label>
        <md-input v-model=secondAnwsers[6] type="number"></md-input>
      </md-input-container>
    </form>
    <p><span class="md-title">{{secondSum}} </span><b>
  </div>

  <div class = "anwsersBlock">
    <p><span class="md-title">Потери: </span><b>
      <hr>
  <form novalidate @submit.stop.prevent="submit">
    <md-input-container>
      <label>{{thirdBlockTittle[0]}}</label>
      <md-input v-model=thirdAnwsers[0] type="number"></md-input>
    </md-input-container>
  </form>
  <form novalidate @submit.stop.prevent="submit">
    <md-input-container>
      <label>{{thirdBlockTittle[1]}}</label>
      <md-input v-model=thirdAnwsers[1] type="number"></md-input>
    </md-input-container>
  </form>
  <form novalidate @submit.stop.prevent="submit">
    <md-input-container>
      <label>{{thirdBlockTittle[2]}}</label>
      <md-input v-model=thirdAnwsers[2] type="number"></md-input>
    </md-input-container>
  </form>

  </div>

  <div class = "anwsersBlock">
    <p><span class="md-title">Завершающие вопросы: </span><b>
      <hr>
  <form novalidate @submit.stop.prevent="submit">
    <md-input-container>
      <label>{{fourthBlockTittle[0]}}</label>
      <md-input v-model=fourthAnwsers[0] type="number"></md-input>
    </md-input-container>
  </form>
  <form novalidate @submit.stop.prevent="submit">
    <md-input-container>
      <label>{{fourthBlockTittle[1]}}</label>
      <md-input v-model=fourthAnwsers[1] type="number"></md-input>
    </md-input-container>
  </form>


  </div>
</div>
<md-button class="md-raised md-primary" v-on:click="recalculate">Пересчитать</md-button>
  <p><span class="md-title">Указанная стоимость за одну доставку: </span><b> {{firstAnwsers[1]}} </b>
  <p><span class="md-title">Реальная стоимость одной доставки: </span>
  <p><span class="md-display-1">{{summ}}</span>
  </div>
</div>

</md-whiteframe>
</div>






</div>
</div>
  <script src ="application.js"></script>
</body>
</html>
