<html>
<head>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="vue-material.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
  <link href="styles.css"  rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="vue-material.js"></script>
  <title> RNR - Calc </title>
</head>


<body>
  <div id ="bHeader">
  <img src ="images/logo.png">
 </div>
 <div class = "wrapper">
  <div id = "firstTest"  v-md-theme="'default'">
    <md-whiteframe md-elevation="7">
    <md-tabs md-fixed v-on:change="show=!show">
    <md-tab id="first_test" md-label="Основные расходы" md-icon="looks_one">
      <div id ="firstTestContent" v-if="show" >
      <p><span class="md-title">{{questionNumber}}/5</span>
      <p><span class="md-subheading">{{currentQuestion}}</span>
      <p><span class="md-body-2" v-if="discriptionReady">{{questionDiscription}}</span>
      <p><span class="md-body-1" v-if="exampleReady">{{questionExample}}</span>
        <form novalidate @submit.stop.prevent="submit">
          <md-input-container>
            <label>{{defaultCaption}}</label>
            <md-input v-model=currentValue></md-input>
          </md-input-container>
        </form>
        <md-button class="md-raised md-accent">Назад</md-button>
        <md-button class="md-raised md-primary">Далее</md-button>
    </div>
    </md-tab>

  </md-tabs>
</md-whiteframe>
</div>


<div id = "secondTest"  v-md-theme="'default'">
  <md-whiteframe md-elevation="7">
  <md-tabs md-fixed v-on:change="show=!show">
  <md-tab id="second_test" md-label="Дополнительные расходы" md-icon="looks_two">
    <div id ="secondTestContent" v-if="show" >
    <p><span class="md-title">{{questionNumber}}/7</span>
    <p><span class="md-subheading">{{currentQuestion}}</span>
    <p><span class="md-body-2" v-if="discriptionReady">{{questionDiscription}}</span>
    <p><span class="md-body-1" v-if="exampleReady">{{questionExample}}</span>
      <form novalidate @submit.stop.prevent="submit">
        <md-input-container>
          <label>{{defaultCaption}}</label>
          <md-input v-model=currentValue></md-input>
        </md-input-container>
      </form>
      <md-button class="md-raised md-accent">Назад</md-button>
      <md-button class="md-raised md-primary">Далее</md-button>
  </div>
  </md-tab>

</md-tabs>
</md-whiteframe>
</div>

<div id = "thirdTest"  v-md-theme="'default'">
  <md-whiteframe md-elevation="7">
  <md-tabs md-fixed v-on:change="show=!show">
  <md-tab id="third_test" md-label="Потери" md-icon="looks_3">
    <div id ="thirdTestContent" v-if="show" >
    <p><span class="md-title">{{questionNumber}}/3</span>
    <p><span class="md-subheading">{{currentQuestion}}</span>
    <p><span class="md-body-2" v-if="discriptionReady">{{questionDiscription}}</span>
    <p><span class="md-body-1" v-if="exampleReady">{{questionExample}}</span>
      <form novalidate @submit.stop.prevent="submit">
        <md-input-container>
          <label>{{defaultCaption}}</label>
          <md-input v-model=currentValue></md-input>
        </md-input-container>
      </form>
      <md-button class="md-raised md-accent">Назад</md-button>
      <md-button class="md-raised md-primary">Далее</md-button>
  </div>
  </md-tab>

</md-tabs>
</md-whiteframe>
</div>

<div id = "fourthTest"  v-md-theme="'default'">
  <md-whiteframe md-elevation="7">
  <md-tabs md-fixed v-on:change="show=!show">
  <md-tab id="fourth_test" md-label="Завершающие вопросы" md-icon="looks_4">
    <div id ="fourthTestContent" v-if="show" >
    <p><span class="md-title">{{questionNumber}}/3</span>
    <p><span class="md-subheading">{{currentQuestion}}</span>
    <p><span class="md-body-2" v-if="discriptionReady">{{questionDiscription}}</span>
    <p><span class="md-body-1" v-if="exampleReady">{{questionExample}}</span>
      <form novalidate @submit.stop.prevent="submit">
        <md-input-container>
          <label>{{defaultCaption}}</label>
          <md-input v-model=currentValue></md-input>
        </md-input-container>
      </form>
      <md-button class="md-raised md-accent">Назад</md-button>
      <md-button class="md-raised md-primary">Далее</md-button>
  </div>
  </md-tab>

</md-tabs>
</md-whiteframe>
</div>

<div id ="getResults" v-md-theme="'default'">
<md-whiteframe md-elevation="7">
<div id ="ResultButton">
  <md-button class="md-raised md-primary">Расчитать</md-button>
</div>
</md-whiteframe>
</div>

</div>
  <script src ="application.js"></script>
</body>
</html>
