#bHeader{
  padding-left: 55em;
  padding-right: 10em;
  padding-top: 3em;
}


#ResultButton{
  padding-top: 4em;
  padding-left: 2em;
  padding-bottom: 2em;
}


.wrapper{
  margin-left: 25em;
  margin-right: 25em;

  background-color: white;
}

body{
  background-image: url(images/bg.jpg);
}

.errorSpan{
  color: red;
}


.anwsersBlock{
  display: inline-block;
  width: 270px;
  margin:5px;
  white-space: normal;
}

.table{
  white-space: nowrap;
}

#firstTestContent{
  height: 270px;
}

#secondTestContent{
  height: 270px;
}

#thirdTestContent{
  height: 270px;
}

#fourthTestContent{
  height: 270px;
}
